<p-card class="product-card" (click)="clicked.emit(product())" styleClass="product-card__inner">
  <ng-template pTemplate="header">
    @if (product().images.length > 0) {
      <img
        class="product-card__image"
        [src]="product().images[0]"
        [alt]="product().name"
        loading="lazy"
      />
    } @else {
      <div class="product-card__image-placeholder">
        <i class="pi pi-image"></i>
        <span>Нет изображения</span>
      </div>
    }
  </ng-template>

  <ng-template pTemplate="title">
    {{ product().name }}
  </ng-template>

  <ng-template pTemplate="subtitle">
    <p-tag [value]="product().kind | productKindLabel" [rounded]="true" />
  </ng-template>

  <ng-template pTemplate="content">
    <span class="product-card__price">{{ product().price | price }}</span>
    @if (componentCount() > 0) {
      <div class="product-card__components">
        <i class="pi pi-box"></i>
        <span>{{ componentLabel() }}</span>
      </div>
    }
  </ng-template>
</p-card>
