<div class="dashboard">
  <h1 class="dashboard__title">Дашборд</h1>
  <p class="dashboard__subtitle">Добро пожаловать в KPPDF 2.0</p>

  <div class="dashboard__cards">
    <p-card class="dashboard__card">
      <ng-template pTemplate="title">
        <div class="dashboard__card-header">
          <i class="pi pi-file"></i>
          <span>КП</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <span class="dashboard__card-value">0</span>
      </ng-template>
    </p-card>

    <p-card class="dashboard__card">
      <ng-template pTemplate="title">
        <div class="dashboard__card-header">
          <i class="pi pi-box"></i>
          <span>Товаров</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <span class="dashboard__card-value">0</span>
      </ng-template>
    </p-card>

    <p-card class="dashboard__card">
      <ng-template pTemplate="title">
        <div class="dashboard__card-header">
          <i class="pi pi-building"></i>
          <span>Контрагентов</span>
        </div>
      </ng-template>
      <ng-template pTemplate="content">
        <span class="dashboard__card-value">0</span>
      </ng-template>
    </p-card>
  </div>
</div>
